[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.7.4'

[packages]
python-slugify = "*"
gunicorn = "*"
redis = "*"
tinys3 = "*"
Flask-RESTful = "*"
Flask = "*"
Markdown = "*"
Unidecode = "*"
Flask-Cors = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
python-twitter = "*"
pillow = "*"
colorthief = "*"
moviepy = "*"
sentry-sdk = "*"
blinker = "*"
google-auth = "*"
slugify = "*"

[dev-packages]
pylint = "*"
flake8 = "*"
