[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.7.1'

[packages]
python-slugify = "*"
gunicorn = "*"
redis = "*"
tinys3 = "*"
Flask-RESTful = "*"
Flask = "*"
Markdown = "*"
Unidecode = "*"
Flask-Cors = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
python-twitter = "*"
